.wrapper {
	max-width: 500px;
	border: 1px solid black;
    margin: 0 auto;
    padding: 24px;
}

.todo {
	display: flex;
	align-items: center;
	margin-top: 12px;
	padding: 6px;
}

.todo:hover {
	background:rgba(200, 0, 120, 0.1);
}

.todo__title {
	flex: 1;
}

.todo__check {
	width: 18px;
	height: 18px;
	margin-right: 8px;
}

.todo.done .todo__title {
	text-decoration: line-through;
}